<div class="jumbo show-listing">
    <h2 class="title">{{model.title}} {{model.firstName}} {{model.surName}}</h2>
    <div class="right detail-section">
        <div class="detail">
            <strong>Salary:</strong> {{model.salary}}
        </div>
        <div class="detail">
            <strong>Icome Tax:</strong> {{model.incomeTax}}
        </div>
        <div class="detail">
            <strong>National Insurance:</strong> {{model.nationaInsurance}}
        </div>
        <div class="detail">
            <strong>Take Home:</strong> {{model.takeHome}}
        </div>
    </div>
    <img src="/assets/images/ember-light.png" class="employee-pic">
</div>